/*-- scss:defaults --*/
  // Base document colors
$link-color: #C00A35;
$sidebar-bg: #FFCD00;
  
  // Code blocks
$code-block-bg-alpha: -.8;

iframe {
	border: 4px solid red;
}

//image sources
.image-source {
  font-size: 0.65em;
  color: #666;
  font-style: italic;
  margin-top: 0.2em;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}