/*-- scss:defaults --*/
  // Base document colors
$body-bg: #292b2c;
  $body-color: #f6f6f6;
$link-color: #C00A35;
$sidebar-bg: #FFCD00;
  
  // Code blocks 
$code-block-bg-alpha: -.8;

//image sources
.image-source {
  font-size: 0.65em;
  color: #aaa;
  font-style: italic;
  margin-top: 0.2em;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}